<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{#each Breadcrumbs}}
            {{#if this.Url}}
                <li class="breadcrumb-item">
                    <a href="{{this.Url}}">{{this.Name}}</a>
                </li>
            {{else}}
                <li class="breadcrumb-item active" aria-current="page">{{this.Name}}</li>
            {{/if}}
        {{/each}}
    </ol>
</nav> 