{{#if errors.length}}
<div class="alert alert-danger" role="alert">
    Please fix the below errors:

    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}