<h4>Bank Account</h4>

<div class="form-group">
    <label for="AccountName">Account name</label>

    <input type="text" 
        class="form-control" 
        id="AccountName" 
        name="BankAccount[AccountName]" 
        value="{{BankAccount.AccountName}}" 
        placeholder="Bank account name" 
        maxlength="18"> 
</div>

<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="form-group">
            <label for="AccountNumber">Account number</label>

            <input type="number" 
                class="form-control" 
                id="AccountNumber" 
                name="BankAccount[AccountNumber]"  
                value="{{BankAccount.AccountNumber}}" 
                placeholder="Bank account number" 
                step="1" 
                maxlength="8" 
                minlength="7">             
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="form-group">
            <label for="SortCode">Sort code</label>

            <input type="text" 
                class="form-control" 
                id="SortCode" 
                name="BankAccount[SortCode]" 
                value="{{BankAccount.SortCode}}" 
                placeholder="Bank sort code" 
                maxlength="8">             
        </div> 
    </div>
</div>



