<div id="validation-errors" class="alert alert-danger {{visibleIf errors.length}}" role="alert">
    <p>
        <strong>
            Please fix the below errors:
        </strong>
    </p>

    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>