<div class="jumbotron">
  <h1 class="display-4">Demo-UI Project</h1>
  
    <p class="lead">
        A few things to note before getting started:
        <ul>
            <li>Please open a developer account at <a href="https://developer.payrun.io/Account/Register" target="_blank">https://developer.payrun.io/Account/Register</a> </li> and use the keys you are issued.
            <li>This is demonstration software and is provided without warranty or support.</li>
            <li>Under no circumstances should you run this software as-is in a production environment. Fork it and make it your own!</li>
            <li>The application is written in NodeJS and the source code is available on GitHub.</li>
        </ul>

        Get started by clicking on `Get started` below.
    </p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/employer" role="button">Get started</a>
    </p>
</div>