<form method="POST" action="/setup" data-parsley-validate>
    {{>status}}

    {{>validationErrors}}

    <div class="setup">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h3>Setup</h3>
    
                    <p class="lead">
                        Before getting started with the API <a href="https://developer.payrun.io/Account/Register" target="_blank">register</a> to retrieve your consumer key and secret.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Environment">Environment</label>

                    {{#select Environment}}
                    <select class="form-control" id="Environment" name="Environment" required data-required-message="Environment is required">
                        <option>Please Choose...</option>
                        <option value="Test">Test</option>
                        <option value="Production">Production</option>
                    </select>
                    {{/select}}

                    <span class="notes">
                        See <a href="https://developer.payrun.io/docs/getting-started/environments.html" target="_blank">Environments</a> for more information on the available environments. 
                    </span>
                </div>

                <div class="form-group">
                    <label for="ConsumerKey">Consumer Key</label>
                    <input id="ConsumerKey" 
                        name="ConsumerKey" 
                        type="text" 
                        class="form-control" 
                        value="{{ConsumerKey}}" 
                        required 
                        data-required-message="Consumer Key is required">
                </div>

                <div class="form-group">
                    <label for="ConsumerSecret">Consumer Secret</label>
                    <input id="ConsumerSecret" 
                        name="ConsumerSecret" 
                        type="text" 
                        class="form-control" 
                        value="{{ConsumerSecret}}"
                        required 
                        data-required-message="Consumer Secret is required">
                </div>            
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">Setup and get started</button>
            </div>
        </div>
    </div>   
</form>