.container {
    margin-top: 10px;
}

.content-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.actions {
    margin-bottom: 20px;
}

.alert {
    margin-top: 20px;
    margin-bottom: 20px;
}