a.btn {
    color: white !important;
}

a.btn-default {
    background-color: #dcdcdc;
    color: #000000 !important; 
}

.btn-link {
    border: none;

    &:active {
        background: none;
        background-color: white !important;
    }

    &.btn-primary {
        color: #007bff !important;
    }

    &.btn-danger {
        color: #dc3545 !important;
    }

    &.btn-default-for-ae {
        display: block;
        margin-bottom: 10px;
    }
}

.status {
    .btn-outline-secondary {
        float: right;
        margin-top: -2px;
    }
}