form {
    padding-bottom: 30px;

    span.intro {
        display: block;
        font-size: 17px; 
        margin-top: 5px;
        margin-bottom: 15px;                 
    }

    span.notes {
        display: block;
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 15px;      
        color: #6c757d;

        a {
            color: #6c757d;
            text-decoration: underline;
        }
    }

    div.form-check {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    input.initials, input.title {
        width: 80px;
    }
}