.api-calls {
    display: none;
    height: 300px;
    position: fixed;
    bottom: 0;
    background: white;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    right: 0;

    .title {
        background-color: #dcdcdc;
        height: 28px;
        padding-top: 3px;
        font-size: 14px;
        margin-bottom: 10px;

        .close-api-calls {
            cursor: pointer;
        }
    }

    .api-calls-container {
        height: 262px;
        overflow-y: scroll;

        .code-container {
            padding: 5px;
            background-color: #e9ecef;
            font-family: 'Courier New', Courier, monospace;
            font-size: 13px;
            max-height: 250px;
            overflow-y: scroll;

            span.section-title {
                display: block;
                margin-bottom: 10px;
                font-weight: bold;
            }

            code {
                color: black;

                span {
                    display: block;
                    white-space: nowrap;
                    overflow-x: scroll;
                    margin-left: 25px;
                }
            }
        }
    }
}