.job-info {
    .row {
        margin-bottom: 10px;
    }
}

.job-info-container {
    margin-bottom: 30px;

    .card-header {
        padding-bottom: 5px;
    }

    .card-body {
    }

    h5 {
        color: white;

        .close {
            color: white;
        }
    }
}