<div class="row">
    <div class="col-sm-12">
        <div class="coming-soon">
            <h4>Coming soon!</h4>

            <p>Check soon to see this functionality wired up with the API</p>
        </div>        
    </div>
</div>