.container {
  margin-top: 10px; }

.content-container {
  padding-top: 10px;
  padding-bottom: 10px; }

.actions {
  margin-bottom: 20px; }

.alert {
  margin-top: 20px;
  margin-bottom: 20px; }

h4:not(.modal-title) {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #e9ecef;
  padding-bottom: 5px;
  color: #6c757d; }

form {
  padding-bottom: 30px; }
  form span.intro {
    display: block;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 15px; }
  form span.notes {
    display: block;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #6c757d; }
    form span.notes a {
      color: #6c757d;
      text-decoration: underline; }
  form div.form-check {
    margin-top: 20px;
    margin-bottom: 20px; }

.bootbox-close-button {
  display: none; }

.tab-pane {
  padding-top: 20px; }
